*~
*\#
myricube-*-bin
myricube-bin
libmyricube-cvoxel.so
cckiss/cckiss_EXAMPLE
cckiss/git
apps/FastNoise.o
log_nvprosample.txt
shared_sources
.ninja_deps
.ninja_log
build.ninja
build/*
!build/generate_ninja.py
windows64/myricube-data/vk-shaders
